#banner {
  background: #B0E2FF;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 30px/30px "Times New Roman", serif;
  color: #428bca;
  text-align: center;
}

body {
    padding-top:0px;
    padding-left:0px;
    padding-right:0px;
    padding-bottom:0px;
    font-size:12px;
}

#columns {
    background: #428bca;
}

#main {
    margin-left: 17em;
    padding: 1em;
    background: white;
}

#side {
    float: left;
    padding: 1em 2em;
    width: 13em;
    background: #428bca;
}

.table>tbody>tr>th, .table>tbody>tr>td {
    border-top: none;
}

li{
    list-style: none;
    text-decoration: underline;
}
ul{
    padding: 0;
}
#columns #side ul li a {
    color: #B0E2FF;
    font-size:100%;
}

.login_msg{
  color : white;
  padding-top: 15px;
  font-size: 100%;
}

legend {
    margin-bottom: 5px;
}

.row {
    height:200px;
    padding-top:0px;
}

h2 {
    font-size: 20px;
}
h2.page-header {
    margin-top:5px;
}


